* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    /* background: #07252d; */
    background: black;
}

h1 {
    position: relative;
    font-size: 3em;
    color: black;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below -42px linear-gradient(transparent, #004);
    position: absolute;
    bottom: 18%;
}

h1 span {
    animation: animate 6s linear infinite;
}

h1 span:nth-child(1) {
    animation-delay: 0.4s;
}

h1 span:nth-child(2) {
    animation-delay: 0.8s;
}

h1 span:nth-child(3) {
    animation-delay: 1.2s;
}

h1 span:nth-child(4) {
    animation-delay: 1.6s;
}

@keyframes animate {

    0%,
    18%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: black;
        text-shadow: none;

    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf5, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
            0 0 80px #03bcf4, 0 0 160px #03bcf4, 0 0 400px #03bcf4;
    }
}